@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

:root {
    --NightSky: #1E0342;
    --Ocean: #0E46A3;
    --Sky: #9AC8CD;
    --Cloud: #E1F7F5;
    --Cloudrgba: rgba(225, 247, 245, 0.5);
    --PokeballRed: #ee1515;
    --PokeballWhite: #f0f0f0;

}

body {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../assets/d7lcnrq-6083330d-93c2-4c88-8646-745d134ce637.png);
    background-color: var(--Cloudrgba);
    background-blend-mode: color-dodge;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(var(--NightSky), var(--Cloud));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.add-button {
    background-color: transparent;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:50px;
    position:fixed;
    top:24px;
    right:24px;
    font-weight:700;
    color:#fafafa;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 54px;
    width: 54px;
    transform:rotate(0);
    transition:.3s ease;
    z-index: 1;
}

.add-button img {
    width: 65px;
    height: 65px;
}

.add-button:hover {
    transform:rotate(180deg);
}

.taskCount {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
    color: var(--PokeballWhite);
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px;
    -webkit-text-stroke-color: black;
}
  
.taskCount span {
    font-weight: bold;
}

.TaskDiv {
    display: flex;
    flex-direction: column;
}

.taskList {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(30, 3, 66, 0.5);
    margin-top: 20px;
    border-radius: 20px;
}

.taskSearch {
    background: #f9fbfc;
    border: 2px solid var(--Ocean);
    margin: 0 24px;
    height: 50px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    color: var(--PokeballWhite);
    box-shadow: 0 5px 50px rgba(32,35,41, .25);
    background-color: var(--NightSky);
    opacity: .8;
}

.taskSearch::placeholder {
    color: #a5a5a5;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
}

.taskSearch:focus {
    outline-color: #61dafa;
}

.EmptyTaskmsg {
    font-size: 30px;
    text-align: center;
    color: var(--PokeballWhite);
    margin: 0;
    padding: 48px;
    font-weight: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.taskItem {
    background: linear-gradient(var(--NightSky), var(--Ocean));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Cloud);
    box-shadow: 0 5px 50px rgba(32,35,41,.15);
    border-radius: 15px;
    height: 60px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    margin: 7px 5px 7px 5px;
    height: auto;
}

.taskItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--PokeballWhite);
}

.taskItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: 700;
}

.Icon-container-check {
    position: absolute;
    left: 15px;
    margin-top: 5px;
}

.Icon-container-check--active {
    color: #4caf50;
}

.Icon-container-delete {
    position: absolute;
    right: 0;
    margin-top: 5px;
}

.Icon-svg {
    width: 24px;
    height: 24px;
}

.Icon-container-delete .Icon-svg {
    width: 36px;
    height: 36px;
} 

.Icon-container-delete:hover .Icon-svg {
    fill: #E72929;
} 

.Icon-container-check:hover .Icon-svg {
    fill: #4caf50;
}

.loadingImg {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.loadingImg img {
    width: 380px;
}

#taskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Sky);
    background-image: url(../assets/62-622450_pokemon-png-picture-fennekin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    border: 5px solid var(--Ocean);
    text-align: center;
}

#taskForm label{
    font-size: 40px;
    background: linear-gradient(var(--NightSky), var(--Cloud));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#taskForm textarea {
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background-color: var(--NightSky);
    color: var(--PokeballWhite);
    text-align: center;
    align-content: center;
    font-family: "Bakbak One", sans-serif;
    resize: none;
    font-size: medium;
}   

.taskForm-buttonContainer button {
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    font-size: medium;
    border: 2px solid var(--Ocean);
    font-family: "Bakbak One", sans-serif;
    margin: 10px;
    background: #f0f0f0;
    box-shadow: 2px 3px 0px var(--Ocean);
    letter-spacing: 0.4px;
}

.taskForm-buttonContainer button:hover {
    background-color: var(--Sky);
    cursor: pointer;
}

.Modal {
    display: flex;
    background-color: rgba(32, 35, 41, .8);
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 30px;
        padding-left: 0;
        margin-right: 30px;
    }

    .add-button img{
        width: 50px;
        height: 50px;
    }

    #taskform {
        width: auto;
    }
}